<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
<!--Importar jQuery antes de materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>     
<script type="text/javascript" src="js/materialize.min.js"></script>
<!-- Compilado CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="css/estilos.css"> 
<!-- Compilado JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<!--Importar Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Importar materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
 <!--Informar al navegador que el sitio web está optimizado para dispositivos móviles-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body>
    <div class="container section"> <!--caja grande-->
        <div class="row">
            <div class="col s16">
                <div class="card">
                    
                    <img src="https://mail.google.com/mail/u/0?ui=2&ik=1f7e6da7b0&attid=0.1&permmsgid=msg-a:r-8547701377687193859&th=18e02b6209dac433&view=att&disp=safe&realattid=f_ltb1wlkk0" alt="Descripción de la imagen" width="1050" height="250">

                    <div class="card-content">
                        
                        <h5 class="center-align">Bienvenido</h5>

                         <div class="row"> 
                            <div class="col s2"></div>                         
                            <div class="col s3">
                                <a class="waves-effect waves-light blue darken-1 btn" href="admin">
                                    <i class="material-icons right">manage_accounts</i>Ingreso Administrador</a>
                            </div>
                         
                                                 
                             <div class="col s3">
                                <a class="waves-effect waves-light blue darken-1 btn" href="gestionadmin.hbs">
                                    <i class="material-icons right">manage_accounts</i>Gestión Administrador</a>
                            </div>

                            <div class="col s3">
                                <a class="waves-effect waves-light blue darken-1 btn" href="consulta.hbs">
                                    <i class="material-icons right">summarize</i>Consulta resultados</a>
                            </div>
                        </div>  
                   
                        <div class="row">
                            <div class="col s2"></div>  
                            <div class="center-align col s8">
                                <div class="section">
                                    <h5>HealthPort es el sitio donde encontrará sus reportes médicos y resultados,
                                        para consultarlos, diríjase al botón 'consulta de resultados' e ingrese su número de identificación.
                                    </h5>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>




    
   
</body>
</html>
