<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HealthPort</title>
<style>
  /* Estilos para la barra de navegación */
  .navbar {
    background-color: #140088;
    overflow: hidden;
  }

  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: rgb(10, 1, 138);
  }

  .navbar .title {
    float: left;
    padding: 14px 20px;
    color: white;
  }
</style>
</head>
<body>
<div class="navbar">
  <span class="title"><h5>HealthPort</h5></span>
  <a href="/">Home</a>
  <a href="/consulta">Consulta</a>
  <a href="#">Nosotros</a>
  <a href="/admin">Iniciar sesión</a>
</div>
<div class="card-image">
  <img src="https://mail.google.com/mail/u/0?ui=2&ik=1f7e6da7b0&attid=0.1&permmsgid=msg-a:r-5760682284073613704&th=18e0c925846c38a0&view=att&disp=safe&realattid=f_ltdsdz090" alt="Descripción de la imagen" width="1500" height="200">
  <p class="card-title"></p>
  </div>

{{{body}}}

</body>
</html>